<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/picnic.min.css">
  <title>{{pageTitle}} - {{websiteName}}</title>
</head>
<body>
  <header>
    <nav>
      <a href="/" class="brand">Home</a>
      <div class="menu">
        <a href="/todo" class="button">Todo-List</a>
        <a href="/books" class="button">Book collection</a>
      </div>
    </nav>
  </header>
  <main style="margin:auto; max-width:50em; margin-top:3em">
