{{> header}}
<article>
  <a href="/todo/create" class="button">Add item</a>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#item}}
        <tr>
          <td>{{itemId}}</td>
          <td>{{itemText}}</td>
          <td><a href="/todo/delete/{{itemId}}" class="button">Delete</a></td>
        </tr>
      {{/item}}
    </tbody>
  </table>
</article>
{{> footer}}
